@import 'variables';

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: $blanco;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $main-text;
  }
}

.btn {
  background-color: $main-color;
}

.option-btn {
  background-color: $naranja;
}

.delete-btn {
  background-color: $rojo;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

