@import 'variables';

.footer{
  background-color: $blanco;
  /* padding-bottom: 7rem; */
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;

    .box h3{
      font-size: 2rem;
      color:$main-text;
      margin-bottom: 2rem;
      text-transform: capitalize;
    }

   .box a{
    display: block;
    margin:1.5rem 0;
    font-size: 1.7rem;
    color:$light-color;

    i{
      padding-right: 1rem;
      color:$main-color;
      transition: .2s linear;
    }

    &:hover{
        color:$main-color;
        i{
          padding-right: 2rem;
       }
      }

    }
 }

 .autoria{
  text-align: center;
  padding: 2.5rem 2rem;
  border-top: $border;
  font-size: 2rem;
  color:$negro;

    span{
      color:$main-color;
    }
  }

}
