@import 'variables';

.mensaje{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color: $main-color;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 1100;

    span{
        font-size: 2rem;
        color:$main-text; 
    }

    i{
        cursor: pointer;
        color:$rojo;
        font-size: 2.5rem;
        &:hover{
            color:$main-text; 
        }
    }
 }
 

 .empty{
    padding:1.5rem;
    background-color: $blanco;
    border: $border;
    box-shadow: $box-shadow;
    text-align: center;
    color: $rojo;
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
 }
 
 .disabled{
    pointer-events: none;
    user-select: none;
    opacity: .5;
 }
 
 @keyframes fadeIn{
    0%{
       transform: translateY(1rem);
    }
 }