$main-color: #7fad39;
$naranja:#f39c12;
$rojo: #e74c3c;
$negro: #333;
$main-text: #333;
$blanco:#fff;
$light-color:#666;
$light-bg:#eee;

$font-family: 'Nunito', sans-serif;
$font-size: 16px;

$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$border:.2rem solid $negro;

$container-max-width:1200px;
$container-padding: 1rem;
$gutter-width: 1rem;
$grid-columns: 10;
//$border-radius: 4px;
//$padding: 10px;
//$margin: 20px;